{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "experimentalOperatorPosition": "start",
  "jsxSingleQuote": true,
  "objectWrap": "collapse",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-organize-imports"
  ],
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}